$header-height = 50px
$footer-height = 70px

.App-header
  height $header-height
  background linear-gradient(#4D5259, darken(#4D5259, 10%))
  color #fff
  display flex
  align-items center
  justify-content center
  z-index 10
  font-size 1.4rem
  padding-top 5px

.App-main
  display flex
  overflow hidden
  height 100vh
  margin-top -($header-height)
  padding-top $header-height
  margin-bottom -($footer-height)
  padding-bottom $footer-height
  position relative
  width 100%
  backface-visibility hidden
  will-change overflow
  font-size .9rem

.App-footer
  background linear-gradient(#ddd, #ccc)
  position absolute
  bottom 0
  left 0
  right 0
  z-index 90
  text-align center
  height $footer-height
  display flex
  align-items center
  justify-content center
