@import 'nib'

@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700')

global-reset()

*
  box-sizing border-box
  font-smoothing antialiased
  user-select none

$header-height = 50px
$footer-height = 70px

@import 'playlists'
@import 'loader'

::-webkit-scrollbar
  background white
  width 6px

::-webkit-scrollbar-thumb
  background #ddd
  border-radius 3px

a
  text-decoration none
  color #c0392b

  &:hover
    text-decoration underline

html, body
  width 100%
  height 100%
  overflow hidden // disable rubberband

body
  font-size 62.5%
  line-height 1.6
  font-family 'Helvetica Neue', Helvetica, sans-serif
  background #fff
  color #666
  position relative

header, aside, section, footer
  padding 0 1em

.app-header
  height $header-height
  background linear-gradient(#4D5259, darken(#4D5259, 10%))
  color #fff
  display flex
  align-items center
  justify-content center
  z-index 10
  font-size 1.4rem

.app-main
  display flex
  overflow hidden
  height 100vh
  margin-top -($header-height)
  padding-top $header-height
  margin-bottom -($footer-height)
  padding-bottom $footer-height
  position relative
  width 100%
  backface-visibility hidden
  will-change overflow
  font-size .9rem

.scrollable-section
  overflow auto
  overflow-scrolling touch

.app-footer
  background linear-gradient(#ddd, #ccc)
  position absolute
  bottom 0
  left 0
  right 0
  z-index 90
  text-align center
  height $footer-height
  display flex
  align-items center
  justify-content center

.flex
  &-1
    width 20%
  &-4
    width 60%

.PlayerControls
  display flex
  button
    border 0
    background transparent
    text-shadow 0 0 2px #fff
    color #4D5259
    cursor pointer
    outline none
    font-size 1.6rem
    text-shadow 0 0 1px #fff
    display inline-block
    padding 10px

    &:nth-of-type(2)
      font-size 2rem

    &:hover
      color #000

  .volume-level
    font-size 1.6rem
    padding 10px 5px

  input.volume[type=range]
    appearance none
    background transparent
    margin-right 5px

    &::-webkit-slider-runnable-track
      background #F2F2F0
      border-radius 5px
      width 100px
      border none

    &::-webkit-slider-thumb
      appearance none
      border none
      background #4D5259
      height 16px
      width 16px
      border-radius 8px

    &:focus
      outline none

.seekbar
  display flex
  flex-direction row

  &-current-time, &-total-time
    padding 0 5px


.NowPlaying
  img
    display block

.Queue
  li
    display flex
    flex-direction column
    padding 5px 20px

    .track-length
      display none

    .artist-name
      color #aaa


    &:hover
      background lighten(#eee, 10%)

.Tracklist
  position relative

.Tracklist-filter
  position fixed
  width 60%
  z-index 10

  input
    width 100%
    border 0
    padding 10px
    border-bottom 2px solid #ddd
    font-size 1.1rem

    &:focus
      outline none

.Tracklist-tracks
  width 100%
  display table
  border-collapse collapse
  position relative
  top 50px

  &-header
    font-weight 700
    color #666
    text-transform uppercase

    &:hover, &.active
      background transparent

  li
    display table-row
    width 100%

    &:hover, &.active
      background lighten(#eee, 10%)

    &.selected
      background #eee

    > span
      display table-cell
      padding 2px 20px

.unplayable
  text-decoration line-through
  color #bbb

li, tr
  cursor default

.artist-name
 color #777

.up-next
  font-size 1.4rem
  padding 10px 20px
