@import 'nib'

@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700')

global-reset()

*
  box-sizing border-box
  font-smoothing antialiased
  user-select none

$header-height = 50px
$footer-height = 100px

@import 'playlists'
@import 'loader'

::-webkit-scrollbar
  background white
  width 6px

::-webkit-scrollbar-thumb
  background #ddd
  border-radius 3px

a
  text-decoration none
  color #c0392b

  &:hover
    text-decoration underline

html, body
  width 100%
  height 100%

body
  font-size 62.5%
  line-height 1.6
  font-family 'Helvetica Neue', Helvetica, sans-serif
  background #fff
  color #666
  position relative

header, aside, section, footer
  padding 0 1em

.app-header
  height $header-height
  background linear-gradient(#4D5259, darken(#4D5259, 10%))
  color #fff
  display flex
  align-items center
  justify-content center
  z-index 10
  font-size 1.4rem

.app-main
  display flex
  overflow hidden
  height 100vh
  margin-top -($header-height)
  padding-top $header-height
  margin-bottom -($footer-height)
  padding-bottom $footer-height
  position relative
  width 100%
  backface-visibility hidden
  will-change overflow

.scrollable-section
  overflow auto
  overflow-scrolling touch
  font-size .8rem
  padding 1.5rem

.padded-section
  padding 1rem

.app-footer
  background linear-gradient(#ddd, #ccc)
  position absolute
  bottom 0
  left 0
  right 0
  z-index 90
  text-align center
  height $footer-height

.flex
  &-1
    width 20%
  &-4
    width 60%

.controls
  button
    border 0
    background transparent
    text-shadow 0 0 2px #fff
    color #4D5259
    cursor pointer
    outline none
    font-size 1.6rem
    text-shadow 0 0 1px #fff
    display inline-block
    padding 10px

    &:hover
      color #000

  input.volume[type=range]
    appearance none
    background transparent
    margin-right 5px

    &::-webkit-slider-runnable-track
      background #F2F2F0
      border-radius 5px
      width 100px
      border none

    &::-webkit-slider-thumb
      appearance none
      border none
      background #4D5259
      height 16px
      width 16px
      border-radius 8px

    &:focus
      outline none

.seekbar
  display flex
  flex-direction row

  &-current-time, &-total-time
    padding 0 5px

.tracklist-filter
  position absolute
  width auto
  background yellow
  padding 1rem
  z-index 100
  right 0
  left 0
  top 0

  input
    width 100%
    border-radius 5px
    border 1px solid #ddd
    padding 5px

    &:focus
      outline none

.tracklist
  width 100%
  display table
  border-collapse collapse

  &-header
    font-weight 700
    color #666
    text-transform uppercase

    &:hover, &.active
      background transparent

  li
    display table-row
    width 100%

    &:hover, &.active
      background lighten(#eee, 10%)

    &.selected
      background #eee

    > span
      display table-cell

.unplayable
  text-decoration line-through
  color #bbb

li, tr
  cursor default
