@import 'nib'

@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700')

global-reset()

*
  box-sizing border-box
  font-smoothing antialiased
  user-select none

$header-height = 50px
$footer-height = 100px

@import 'playlists'
@import 'loader'

::-webkit-scrollbar
  background white
  width 4px

::-webkit-scrollbar-thumb
  background #eee
  border-radius 1ex

a
  text-decoration none
  color #c0392b

  &:hover
    text-decoration underline

html, body
  width 100%
  height 100%

body
  font-size 1.2em
  line-height 1.5
  font-family 'HelveticaNeue-Light', Helvetica, sans-serif
  background #F2F2F0
  color #666
  position relative

header, aside, section, footer
  padding 0 1em

header
  height $header-height
  background linear-gradient(#4D5259, darken(#4D5259, 10%))
  color #fff
  display flex
  align-items center
  z-index 10

main
  display flex
  overflow hidden
  height 100vh
  margin-top -($header-height)
  padding-top $header-height
  margin-bottom -($footer-height)
  padding-bottom $footer-height
  width 100%
  backface-visibility hidden
  will-change overflow

aside
  flex 1

section
  background #fff
  flex 4

aside, section
  padding 1em
  overflow auto
  overflow-scrolling touch

footer
  background linear-gradient(#ddd, #ccc)
  text-align center
  position fixed
  bottom 0
  background #D9D5D0
  width 100%
  display flex
  align-items center
  padding 20px

  img
    max-height 64px

  .controls
    button
      display inline-block
      width 44px
      border-radius (@width/2)
      border 0
      background transparent
      font-size 26px
      text-shadow 0 0 2px #fff
      color #4D5259
      cursor pointer
      outline none

      &:hover
        color #000

    input.volume[type=range]
      appearance none
      background transparent
      margin-right 5px

      &::-webkit-slider-runnable-track
        background #F2F2F0
        border-radius 5px
        width 100px
        border none

      &::-webkit-slider-thumb
        appearance none
        border none
        background #4D5259
        height 16px
        width 16px
        border-radius 8px

      &:focus
        outline none

.tracklist-filter input
  width 100%
  border-radius 5px
  font-size 16px
  border 1px solid #ddd
  padding 5px

  &:focus
    outline none

.tracklist
  width 100%
  font-size 16px
  display table
  border-collapse collapse

  .tracklist-header
    font-weight 700
    font-size .7em
    color #666
    text-transform uppercase

    &:hover, &.active
      background transparent

  li
    display table-row
    width 100%

    &:hover, &.active
      background lighten(#eee, 10%)

    &.selected
      background #eee

    > span
      display table-cell

.unplayable
  text-decoration line-through
  color #bbb

@media all and (max-width: 600px)
  main
    flex-direction column

  .tracklist
    display block

    .tracklist-header
      display none

    li
      display flex
      flex-direction column
      border-bottom 1px solid #ddd
      padding 10px

      .artist-name, .track-length
        color #888
        font-size 14px

      > span
        flex 1

        &:first-child
          float right


li, tr
  cursor default
