.playlists
  color #555
  padding 20px 0

  .playlist-owner
    color #999

  i
    color #ddd
    margin-right 5px

  li
    padding 2px 20px

    &:hover
      background linear-gradient(#efefef, #dfdfdf)

    &.active
      font-weight 700
