.Queue
  &-no-songs
    padding 10px 20px

  li
    display flex
    flex-direction column
    padding 5px 20px

    .track-length
      display none

    .artist-name
      color #aaa


    &:hover
      background lighten(#eee, 10%)

.up-next
  font-size 1.4rem
  padding 10px 20px
