.Tracklist
  position relative

.Tracklist-filter
  position fixed
  z-index 1
  width 60%

  input
    width 100%
    border 0
    padding 10px
    font-size 1.1rem
    background #eee
    box-shadow 0 1px 0 rgba(0, 0, 0, 0.1)

    &:hover
      box-shadow 0 1px 0 rgba(0, 0, 0, 0.2)

    &:focus
      outline none

.Tracklist-tracks
  width 100%
  display table
  border-collapse collapse
  position relative
  top 50px

  &-header
    font-weight 700
    color #666
    text-transform uppercase

    &:hover, &.active
      background transparent

  li
    display table-row
    width 100%

    &:hover, &.active
      background lighten(#eee, 10%)

    &.selected
      background #eee

    > span
      display table-cell
      padding 2px 20px
