.playlists
  font-size .8em
  overflow-y scroll
  height 100%
  color #555

  .playlist-owner
    color #999

  i
    color #ddd
    margin-right 5px

  li
    &:hover
      background linear-gradient(#efefef, #dfdfdf)
